ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;

  }
#botonera{
    margin: 0 auto;
    text-align: center;
    width: auto; 
}
#titulo-carta{
    text-align: center;
    align-items: center;
    margin: 0 auto;
    width: auto;
}
